# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.League Chat.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Git Projects\League Chat\.idea\.idea.League Chat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
