# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Chat.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\urban\Desktop\Chat\.idea\.idea.Chat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
